{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "10"
      },
      "shippedProposals": true
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/transform-modules-commonjs", {
      "allowTopLevelThis": true
    }],
    "@babel/proposal-class-properties"
  ]
}
